Source: rocm-rocblas
Section: devel
Priority: optional
Maintainer: CHEN Xuan <chenxuan@iscas.ac.cn>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 git,
 libblas-dev,
 pkg-config,
 python3-joblib,
 python3-rocm-tensile,
 rocm-cmake,
 rocm-core,
 rocm-env (>= 7.0.0),
 rocm-hip-on-rocclr-dev,
 rocm-rocminfo,
 rocm-rocr-dev,
 rocm-llvm (>= 7.0.0),
 rocm-roctracer-dev,
Standards-Version: 4.7.0
Homepage: https://github.com/ROCm/rocPRIM
Vcs-Browser: https://github.com/revyos-rocm/rocm-rocblas
Vcs-Git: https://github.com/revyos-rocm/rocm-rocblas.git

Package: rocm-rocblas
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libblas3,
 python3-rocm-tensile,
 rocm-cmake,
 rocm-core,
 rocm-env (>= 7.0.0),
 rocm-hip-on-rocclr,
Description: Next generation BLAS implementation for ROCm platform - binary
 rocBLAS is the ROCm Basic Linear Algebra Subprograms (BLAS) library. rocBLAS is
 implemented in the HIP programming language and optimized for AMD GPUs.

Package: rocm-rocblas-dev
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libblas-dev,
 rocm-hip-on-rocclr-dev,
 rocm-rocblas,
Description: Next generation BLAS implementation for ROCm platform - dev
 rocBLAS is the ROCm Basic Linear Algebra Subprograms (BLAS) library. rocBLAS is
 implemented in the HIP programming language and optimized for AMD GPUs.
