#!/usr/bin/make -f

export DH_VERBOSE = 1

CFLAGS_BUILDING := -O2
export DEB_CFLAGS_MAINT_APPEND = $(CFLAGS_BUILDING)
export DEB_CXXFLAGS_MAINT_APPEND = $(CFLAGS_BUILDING)

PKG_NAME=rocm-rocblas

# ROCM_VERSION=$(DEB_VERSION_UPSTREAM) // cannot be used in debuild
ROCM_VERSION=$(shell cat /opt/REVYOS_ROCM_VERSION)
ROCM_PATH=/opt/rocm-$(ROCM_VERSION)

MAKEOPTS="-j$$(($$(nproc) / 4))"

TOP_DIR := $(CURDIR)
DEB_SRC_PATH := $(TOP_DIR)
DEB_BUILD_PATH := $(TOP_DIR)/build-rocm
DEB_INST_DIR := $(TOP_DIR)/debian/tmp

REVYOS_ROCM_CMAKE_PARAMS := -S $(DEB_SRC_PATH) -B $(DEB_BUILD_PATH)
REVYOS_ROCM_CMAKE_PARAMS += -DCMAKE_INSTALL_PREFIX=$(ROCM_PATH)
REVYOS_ROCM_CMAKE_PARAMS += -DCMAKE_C_COMPILER=$(ROCM_PATH)/bin/amdclang
REVYOS_ROCM_CMAKE_PARAMS += -DCMAKE_CXX_COMPILER=$(ROCM_PATH)/bin/amdclang++
REVYOS_ROCM_CMAKE_PARAMS += -DCMAKE_BUILD_TYPE=Release
REVYOS_ROCM_CMAKE_PARAMS += -DCMAKE_VERBOSE_MAKEFILE=TRUE
REVYOS_ROCM_CMAKE_PARAMS += -DCMAKE_PREFIX_PATH="${ROCM_PATH};${ROCM_PATH}/share/rocm/cmake/;${ROCM_PATH}/share/rocmcmakebuildtools/cmake"

# GPU_TARGETS="gfx908:xnack-;gfx90a:xnack-;gfx90a:xnack+;gfx940;gfx941;gfx942;gfx1030;gfx1100"
# Save time, temporarily set one target
GPU_TARGETS="gfx1100"

REVYOS_ROCM_MATH_CMAKE_PARAMS := -DROCM_SYMLINK_LIBS=OFF
REVYOS_ROCM_MATH_CMAKE_PARAMS += -DROCM_DISABLE_LDCONFIG=ON
REVYOS_ROCM_MATH_CMAKE_PARAMS += -DCMAKE_INSTALL_RPATH_USE_LINK_PATH=FALSE
REVYOS_ROCM_MATH_CMAKE_PARAMS += -DBUILD_FILE_REORG_BACKWARD_COMPATIBILITY=OFF
# AMDGPU_TARGETS is deprecated, use GPU_TARGETS
REVYOS_ROCM_MATH_CMAKE_PARAMS += -DGPU_TARGETS=$(GPU_TARGETS)

REVYOS_ROCM_ROCBLAS_CMAKE_PARAMS := -DCMAKE_TOOLCHAIN_FILE=toolchain-linux.cmake
REVYOS_ROCM_ROCBLAS_CMAKE_PARAMS += -DROCM_DIR=$(ROCM_PATH)
REVYOS_ROCM_ROCBLAS_CMAKE_PARAMS += -DLINK_BLIS=ON
REVYOS_ROCM_ROCBLAS_CMAKE_PARAMS += -DBLAS_LIBRARY=cblas
REVYOS_ROCM_ROCBLAS_CMAKE_PARAMS += -DBUILD_SHARED_LIBS=ON
REVYOS_ROCM_ROCBLAS_CMAKE_PARAMS += -DCMAKE_MODULE_PATH="$(ROCM_PATH)/lib/cmake/hip;$(ROCM_PATH)/hip/cmake"
REVYOS_ROCM_ROCBLAS_CMAKE_PARAMS += -DBUILD_WITH_TENSILE=ON
# Avoid using external tensile
REVYOS_ROCM_ROCBLAS_CMAKE_PARAMS += -DBUILD_WITH_PIP=OFF
REVYOS_ROCM_ROCBLAS_CMAKE_PARAMS += -DTENSILE_VENV_UPGRADE_PIP=OFF
REVYOS_ROCM_ROCBLAS_CMAKE_PARAMS += -DTensile_LOGIC=asm_full
REVYOS_ROCM_ROCBLAS_CMAKE_PARAMS += -DTensile_CODE_OBJECT_VERSION=default
REVYOS_ROCM_ROCBLAS_CMAKE_PARAMS += -DTensile_SEPARATE_ARCHITECTURES=ON
REVYOS_ROCM_ROCBLAS_CMAKE_PARAMS += -DTensile_LAZY_LIBRARY_LOADING=ON
REVYOS_ROCM_ROCBLAS_CMAKE_PARAMS += -DTensile_LIBRARY_FORMAT=yaml
REVYOS_ROCM_ROCBLAS_CMAKE_PARAMS += -DBUILD_WITH_HIPBLASLT=OFF
# These will be enabled in a long future
REVYOS_ROCM_ROCBLAS_CMAKE_PARAMS += -DBUILD_CLIENTS_BENCHMARKS=OFF
REVYOS_ROCM_ROCBLAS_CMAKE_PARAMS += -DBUILD_CLIENTS_SAMPLES=OFF
REVYOS_ROCM_ROCBLAS_CMAKE_PARAMS += -DBUILD_CLIENTS_TESTS=OFF
REVYOS_ROCM_ROCBLAS_CMAKE_PARAMS += -DBUILD_FORTRAN_CLIENTS=OFF

%:
	dh $@

MaintFunc/FixPath:
	sed -i "s@opt/rocm@opt/rocm-${ROCM_VERSION}@g" \
		clients/cmake/FindROCmSMI.cmake \
		clients/CMakeLists.txt \
		rmake.py \
		rmake.py \
		rmake.py \
		toolchain-linux.cmake \
		header_compilation_tests.sh \
		library/src/tensile_host.cpp \
		library/src/include/handle.hpp \
		scripts/utilities/check_for_pretuned_sizes_c/Makefile \
		scripts/performance/blas/getspecs.py \
		scripts/performance/blas/commandrunner.py \
		CMakeLists.txt \
		library/CMakeLists.txt
	sed -i "s@llvm/bin@bin@g" CMakeLists.txt library/CMakeLists.txt

override_dh_auto_configure: MaintFunc/FixPath
	cmake $(REVYOS_ROCM_CMAKE_PARAMS) \
		$(REVYOS_ROCM_MATH_CMAKE_PARAMS) \
		$(REVYOS_ROCM_ROCBLAS_CMAKE_PARAMS)

override_dh_auto_build:
	cmake --build $(DEB_BUILD_PATH) -- $(MAKEOPTS)

override_dh_auto_install:
	DESTDIR=$(DEB_INST_DIR)/ cmake --build $(DEB_BUILD_PATH) -- $(MAKEOPTS) install

override_dh_install:
	sed -i "s,@ROCM_VERSION@,${ROCM_VERSION},g" debian/*.install
	dh_install

override_dh_dwz:
	:

override_dh_strip:
	:

